{% extends 'base.html.twig' %}

{% block title %}Edit Editorial{% endblock %}

{% block body %}
    <h1>Edit Editorial</h1>

    <form name="editorial" method="post" action="{{path('editorial_update', {id: editorial.id})}}">
        <div>
            <label for="editorial_nombre" class="required">Nombre</label>
            <input type="text" id="editorial_nombre" name="nombre" required="required" maxlength="255" value="{{editorial.nombre}}" />
        </div>
        <button class="btn">Update</button>
    </form>

    <a href="{{ path('editorial_index') }}">back to list</a>

    <a href="{{ path('editorial_delete', {'id': editorial.id}) }}">Delete</a>
{% endblock %}
