{% extends 'base.html.twig' %}

{% block title %}New Editorial{% endblock %}

{% block body %}
    <h1>Create new Editorial</h1>

    <form name="editorial" method="post" action="{{path('editorial_insert')}}">
        <div>
            <label for="editorial_nombre" class="required">Nombre</label>
            <input type="text" id="editorial_nombre" name="nombre" required="required" maxlength="255" />
        </div>
        <button class="btn">Update</button>
    </form>

    <a href="{{ path('editorial_index') }}">back to list</a>
{% endblock %}
